<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">

<head th:fragment="baseHead(title, scripts, links)">

  <title th:replace="${title}">Tic-tac-toe</title>

  <!--
    CDN cached versions of Bootstrap’s compiled CSS and JS
    For more info, see: https://getbootstrap.com/docs/5.3/getting-started/download/#cdn-via-jsdelivr
  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  <link rel="icon" type="image/png" href="images/tic-tac-toe.png"/>

  <!-- placeholder for additional scripts -->
  <th:block th:replace="${scripts}"/>

  <!-- placeholder for additional links -->
  <th:block th:replace="${links}"/>

</head>

<body>

</body>
